dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/
dbt_project/.user.yml
dashboard-frontend/node_modules/
dashboard-frontend/dist/
airflow_workspace/logs/
__pycache__/
*.pyc
.node_modules/
dashboard-frontend/node_modules/
dashboard-frontend/dist/
*.tsbuildinfo
